@import '_partials';

#nav-bar {
  position: fixed;
            left: 0;
            right: 0;
  display: flex;
  justify-content: space-between;
  background: $primaryColor;
  font-size: $margin;
  height: 80px;
  padding-left: $margin;
  padding-right: $margin;
  z-index: 3;

  button {
    color: $primaryColor;
    font-size: 1.5rem;
    border-radius: $borderRadius;
    border: solid black $borderWidth;
    background: white;
    height: 60px;
    margin: auto 5rem auto 5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }

  .authentication {
    display: flex;
    flex-direction: column;

    input {
      width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .headerContainer {
    display: flex;
    vertical-align: center;
  }

  .logo {
    height: 80px;
    width: 80px;
  }

  .header {
    font-size: $margin;
    color: white;
    margin-left: 1rem;
    padding-top: $margin;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }
}

@media all and (max-width: 550px) {
  #nav-bar {
    width: 100%;
    flex-direction: column;
    height: 160px;

    button {
      margin: auto 0.5rem auto 0.5rem;
    }

    .headerContainer {
      justify-content: center;
      margin-right: 3rem;
    }
  }
}
