@import '_partials';

#nav-bar {
  position: fixed;
            left: 0;
            right: 0;
  display: flex;
  justify-content: space-between;
  background: $primaryColor;
  font-size: $margin;
  height: 80px;
  padding-left: $margin;
  padding-right: $margin;
  z-index: 3;

  button {
    color: $primaryColor;
    font-size: 1.5rem;
    border-radius: $borderRadius;
    border: solid black $borderWidth;
    background: white;
    height: 60px;
    margin: auto 5rem auto 5rem;

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }

  .headerContainer {
    display: flex;
    vertical-align: center;
  }

  .logo {
    height: 80px;
    width: 80px;
  }

  .header {
    font-size: $margin;
    color: white;
    margin-left: $margin;
    padding-top: $margin;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }
}