@import '_partials';
$newTweetMargin: 0.8rem;

.new-tweet {
  border: solid 1px grey;
  border-radius: $borderRadius;
  background-color: $tweetBGColor;
  margin-right: $margin;
  margin-left: $margin;
  padding-bottom: 0.7em;
  display: none;
  overflow: hidden;

  h2 {
    margin: $newTweetMargin;
    border-bottom: black $borderWidth solid;
    margin-bottom: 1rem;
  }

  textarea {
    width: 95%;
    height: 6rem;
    margin-left: $newTweetMargin;
    margin-right: $newTweetMargin;
    margin-bottom: $newTweetMargin;
    padding: 0.5rem;
  }

  input {
    margin-left: $newTweetMargin;
  }

  .error {
    display: none;
    margin: 0.2rem;
    margin-left: 1rem;
    padding-top: $newTweetMargin;
    font-style: italic;
    color: red;
  }

  .counter {
    float: right;
    margin-right: 1rem;
    margin-top: 0.3rem;
  }
}