#nav-bar {
  position: fixed;
            left: 0;
            right: 0;
  display: flex;
  justify-content: space-between;
  background: #00a087;
  color: #e8fdff;
  font-size: 2em;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 3;
}

#nav-bar .headerContainer {
  display: flex;
  vertical-align: center;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  font-size: 2rem;
  margin-left: 10px;
  padding-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  transform: scale(0.8, 1);
}
#nav-bar button {
  color: white;
  border-radius: 8px;
  border: solid black 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  height: 50px;
  margin-top: 15px;
  margin-right: 30px;
}




