.new-tweet {
  border: solid 1px grey;
  border-radius: 5px;
  background-color: #eee;
  margin-right: 2em;
  margin-left: 2em;
  padding-bottom: 0.7em;
  position: relative;
}

.new-tweet h2 {
  margin: 8px;
  border-bottom: black 1px solid;
  margin-bottom: 15px;
}

.new-tweet textarea {
  width: 95%;
  height: 50px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
}

.new-tweet input {
  margin-left: 8px;
}

.new-tweet .counter {
  position: absolute;
  right: 10px;
}